## Exercise1: Analyzing Data with Python

You are given a dataset containing information about a group of students, including their names, ages, and grades. Your task is to use Python to perform the following analyses:

1. Calculate the average age of the students.
2. Find and print the names of students who scored higher than 80.
3. Count the number of students in each age group: 0-10, 11-20, 21-30, and 31+.
4. Create a new list of students who are eligible for a scholarship. Eligibility criteria: age less than 25 and a score of 75 or higher.

In [2]:
students_data = [
    {"name": "Alice", "age": 22, "score": 87},
    {"name": "Bob", "age": 18, "score": 92},
    {"name": "Charlie", "age": 30, "score": 65},
    {"name": "David", "age": 16, "score": 78},
    {"name": "Eve", "age": 25, "score": 89},
    {"name": "Frank", "age": 31, "score": 72},
    {"name": "Grace", "age": 19, "score": 84},
    {"name": "Helen", "age": 28, "score": 95},
    {"name": "Ivy", "age": 14, "score": 68},
    {"name": "Jack", "age": 23, "score": 77},
]

In [5]:
# Calculate the average age of students
# Loop through the data and calculate the average age
age = 0
for i in students_data:
    age = age + i['age']

avgAge = age//len(students_data)

print(avgAge)

22

In [7]:
# Find and print the names of students who scored higher than 80
# Loop through the data and check the score for each student
for i in students_data:
    if i['score'] > 80:
        print(i['name'])

Alice
Bob
Eve
Grace
Helen

In [10]:
 # Count the number of students in each age group
# Loop through the data and categorize students into age groups, then count them
ten = 0
twenty = 0
thrity = 0
abv_thrity = 0
for i in students_data:
    if 0 <= i['age'] <=10:
        ten += 1
    elif 11 <= i['age'] <= 20:
        twenty += 1
    elif 21 <= i['age'] <= 30:
        thrity += 1
    elif i['age'] >= 31:
        abv_thrity += 1

print(f'0 - 10  -> count = {ten}')
print(f'11 - 20 -> count = {twenty}')
print(f'21 - 30 -> count = {thrity}')
print(f'31+     -> count = {abv_thrity}')

0 - 10  -> count = 0
11 - 20 -> count = 4
21 - 30 -> count = 5
31+     -> count = 1

In [11]:
# Create a new list of students eligible for a scholarship
# Loop through the data, apply eligibility criteria, and create a new list
scholarshipEligible = []

for i in students_data:
    if i['score'] >= 75 and i['age'] < 25:
        scholarshipEligible.append(i['name'])

print(scholarshipEligible)

['Alice', 'Bob', 'David', 'Grace', 'Jack']

## Exercise2: List Operations

You are given a list of numbers. Your task is to write Python code to perform the following operations:

1. Find the sum of all the numbers in the list.
2. Find the product of all the numbers in the list.
3. Find the largest number in the list.
4. Find the smallest number in the list.
5. Count how many numbers are even and how many are odd in the list.
6. Create a new list that contains only the even numbers from the original list.
7. Create a new list that contains the squares of all the numbers in the original list.

In [2]:
#Here's the list of numbers:
numbers = [2, 5, 8, 12, 16, 23, 38, 42, 55, 67]

In [13]:
# Calculate the sum of all numbers
# Loop through the list and update the sum
sum = 0

for i in numbers:
    sum = sum + i

print(sum)

268

In [16]:
# Calculate the product of all numbers
# Loop through the list and update the product
product = 1

for i in numbers:
    product = product * i

print(product)

2077731532800

In [3]:
# Find the largest number
# Loop through the list and update the largest number
largest = 0

for i in range(len(numbers)):
    if numbers[i] > numbers[0]:
        largest = numbers[i]

print(largest)

67

In [4]:
# Find the smallest number
# Loop through the list and update the smallest number
largest = numbers[0]

for i in range(len(numbers)):
    if numbers[i] < numbers[0]:
        largest = numbers[i]

print(largest)

2

In [22]:
# Count even and odd numbers
# Loop through the list and count even and odd numbers
even = 0
odd = 0

for i in numbers:
    if i % 2 == 0:
        even += 1
    else:
        odd += 1

print('even =', even)
print('odd =', odd)

even = 6
odd = 4

In [24]:
# Create a new list of even numbers
# Loop through the list and add even numbers to the new list
even = []

for i in numbers:
    if i % 2 == 0:
        even.append(i)


print(even)

[2, 8, 12, 16, 38, 42]

In [25]:
# Create a new list of squares of numbers
# Loop through the list and add squares to the new list
squares = []

for i in numbers:
    squares.append(i ** 2)

print(squares)

[4, 25, 64, 144, 256, 529, 1444, 1764, 3025, 4489]